In [25]:
from pathlib import Path
import sys
import re
import pandas as pd

In [2]:
folder = Path("/Users/samiraisin/Devil_semelparity_project/experiments_outputs")

In [7]:
filenames = [f.name for f in folder.iterdir() if f.suffix == ".csv"]

In [15]:
filenames[0]

'INF1_0.5_INF2_0.04_sample_1_result_extinction_statistics.csv'

In [8]:
len(filenames)

162

In [24]:
m = re.search(r"^INF1_([\d.]+)_INF2_([\d.]+)_sample_(\d+)_result_([A-Za-z]*)_statistics.csv$", 'INF1_0.5_INF2_0.04_sample_1_result_extinction_statistics.csv')

if m:
    print(m.groups())

('0.5', '0.04', '1', 'extinction')

In [26]:
df = pd.DataFrame(columns=["INF1", "INF2", "sample", "result"])

In [29]:
for filename in filenames:
    m = re.search(r"^INF1_([\d.]+)_INF2_([\d.]+)_sample_(\d+)_result_([A-Za-z]*)_statistics.csv$", filename)
    if m:
        INF1, INF2, sample, result = m.groups()
        df = pd.concat([df, pd.DataFrame([{"INF1": float(INF1), "INF2": float(INF2), "sample": int(sample), "result": result}])], ignore_index=True)

/var/folders/9q/pv4ly36x3xg6y47msgdwbk640000gn/T/ipykernel_53055/2608396418.py:5: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, pd.DataFrame([{"INF1": float(INF1), "INF2": float(INF2), "sample": int(sample), "result": result}])], ignore_index=True)

In [30]:
df.head()

   INF1  INF2 sample       result
0  0.50  0.04      1   extinction
1  0.01  0.03      0   extinction
2  2.00  0.00      0  iteroparous
3  0.10  0.00      2  iteroparous
4  4.00  0.01      2   extinction

In [31]:
duplicates = df[df.duplicated(subset=['INF1', 'INF2', 'result'], keep=False)]

In [33]:
duplicates[duplicates['result'] == "semelparous"]

     INF1  INF2 sample       result
107  0.01  0.01      1  semelparous
126  0.01  0.01      2  semelparous

In [34]:
df[(df['INF1'] == 0.01) & (df['INF2'] == 0.01) & (df['result'] == 'semelparous')]

     INF1  INF2 sample       result
107  0.01  0.01      1  semelparous
126  0.01  0.01      2  semelparous

In [35]:
df[(df['result'] == 'semelparous')]

     INF1  INF2 sample       result
70   0.50  0.02      1  semelparous
82   0.10  0.03      2  semelparous
107  0.01  0.01      1  semelparous
109  2.00  0.02      0  semelparous
126  0.01  0.01      2  semelparous
143  0.10  0.02      0  semelparous
144  0.05  0.02      1  semelparous
145  1.00  0.00      2  semelparous